<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="off" monitorInterval="1800">
    <Appenders>
        <YmmConsole name="ymmConsole" target="SYSTEM_OUT" systemout="true">
            <PatternLayout pattern="%d %-5p [%c] [%t] %m%n" />
        </YmmConsole>

        <YmmFile name="ymmlog" />
        <CatAppender name="cat" />
    </Appenders>

    <Loggers>
        <root level="ERROR" includeLocation="true">
            <appender-ref ref="ymmConsole"/>
            <appender-ref ref="ymmlog"/>
            <appender-ref ref="cat"/>
        </root>

        <logger name="com.ymm.yzg" level="INFO" additivity="false">
            <appender-ref ref="ymmConsole"/>
            <appender-ref ref="ymmlog"/>
            <appender-ref ref="cat"/>
        </logger>
    </Loggers>
</Configuration>