<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="pigeonServer" class="com.dianping.dpsf.spring.ServiceRegistry" init-method="init" lazy-init="false">
        <property name="services">
            <map>
                <entry key="http://service.ymm.com/yzg-financial/home/appMetricHomeService_1.0.0" value-ref="appMetricHomeService"/>
                <entry key="http://service.ymm.com/yzg-financial/billfee/billFeeFacade_1.0.0" value-ref="billFeeFacade"/>
            </map>
        </property>
    </bean>
</beans>