<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-4.0.xsd">

    <bean id="tmsCommonConfigFacade" class="com.dianping.dpsf.spring.ProxyBeanFactory" init-method="init">
        <property name="serviceName" value="http://service.yzg.com/pigeon/setting/TmsCommonConfigFacade_1.0.0"/>
        <property name="iface" value="com.ymm.saas.setting.api.facade.TmsCommonConfigFacade"/>
        <property name="serialize" value="hessian"/>
        <property name="callMethod" value="sync"/>
        <property name="timeout" value="2000"/>
    </bean>

    <bean id="tableHeaderFacade" class="com.dianping.dpsf.spring.ProxyBeanFactory" init-method="init">
        <property name="serviceName" value="http://service.yzg.com/pigeon/setting/TableHeaderFacade_1.0.0"/>
        <property name="iface" value="com.ymm.saas.setting.api.facade.TableHeaderFacade"/>
        <property name="serialize" value="hessian"/>
        <property name="callMethod" value="sync"/>
        <property name="timeout" value="2000"/>
    </bean>

    <bean id="tmsAuthorizationFacade" class="com.dianping.dpsf.spring.ProxyBeanFactory" init-method="init">
        <property name="serviceName" value="http://service.yzg.com/pigeon/permisson/TmsAuthorizationFacade_1.0.0"/>
        <property name="iface" value="com.amh.merchant.dolphin.permission.api.facade.TmsAuthorizationFacade"/>
        <property name="serialize" value="hessian"/>
        <property name="callMethod" value="sync"/>
        <property name="timeout" value="2000"/>
    </bean>

    <bean id="tmsCompanyUserFacade" class="com.dianping.dpsf.spring.ProxyBeanFactory" init-method="init">
        <property name="serviceName" value="http://service.yzg.com/pigeon/permisson/TmsCompanyUserFacade_1.0.0"/>
        <property name="iface" value="com.amh.merchant.dolphin.permission.api.facade.TmsCompanyUserFacade"/>
        <property name="serialize" value="hessian"/>
        <property name="callMethod" value="sync"/>
        <property name="timeout" value="2000"/>
    </bean>

    <bean id="tmsTenantFacade" class="com.dianping.dpsf.spring.ProxyBeanFactory" init-method="init">
        <property name="serviceName" value="http://service.yzg.com/pigeon/permisson/TmsTenantFacade_1.0.0"/>
        <property name="iface" value="com.amh.merchant.dolphin.permission.api.facade.TmsTenantFacade"/>
        <property name="serialize" value="hessian"/>
        <property name="callMethod" value="sync"/>
        <property name="timeout" value="2000"/>
    </bean>

    <bean id="tmsMybGrantAuthInfoFacade" class="com.dianping.dpsf.spring.ProxyBeanFactory" init-method="init">
        <property name="serviceName" value="http://service.yzg.com/pigeon/permisson/TmsMybGrantAuthInfoFacade_1.0.0"/>
        <property name="iface" value="com.amh.merchant.dolphin.permission.api.facade.TmsMybGrantAuthInfoFacade"/>
        <property name="serialize" value="hessian"/>
        <property name="callMethod" value="sync"/>
        <property name="timeout" value="2000"/>
    </bean>

    <bean id="extendFieldFacade" class="com.dianping.dpsf.spring.ProxyBeanFactory" init-method="init">
        <property name="serviceName" value="http://service.yzg.com/pigeon/setting/ExtendFieldFacade_1.0.0"/>
        <property name="iface" value="com.ymm.saas.setting.api.facade.ExtendFieldFacade"/>
        <property name="serialize" value="hessian"/>
        <property name="callMethod" value="sync"/>
        <property name="timeout" value="2000"/>
    </bean>

    <bean id="saasOrderFacade" class="com.dianping.dpsf.spring.ProxyBeanFactory" init-method="init">
        <property name="serviceName" value="http://service.ymm56.com/trade/enterprise/saasOrderFacade_1.0.0"/>
        <property name="iface" value="com.ymm.trade.enterprise.api.facade.SaasOrderFacade"/>
        <property name="serialize" value="hessian"/>
        <property name="callMethod" value="sync"/>
        <property name="timeout" value="2000"/>
    </bean>

    <bean id="companyFacade" class="com.dianping.dpsf.spring.ProxyBeanFactory" init-method="init">
        <property name="serviceName" value="http://service.ymm.com/trade/company/companyFacade_1.0.0"/>
        <property name="iface" value="com.ymm.trade.company.api.facade.CompanyFacade"/>
        <property name="serialize" value="hessian"/>
        <property name="callMethod" value="sync"/>
        <property name="timeout" value="2000"/>
    </bean>

    <bean id="fundFacade" class="com.dianping.dpsf.spring.ProxyBeanFactory" init-method="init">
        <property name="serviceName" value="http://service.ymm.com/trade/company/fundFacade_1.0.0"/>
        <property name="iface" value="com.ymm.trade.company.api.facade.FundFacade"/>
        <property name="serialize" value="hessian"/>
        <property name="callMethod" value="sync"/>
        <property name="timeout" value="2000"/>
    </bean>

    <bean id="orderQueryFacade" class="com.dianping.dpsf.spring.ProxyBeanFactory" init-method="init">
        <property name="serviceName" value="http://service.ymm.com/trade/order/service/orderQueryFacade_1.0.0"/>
        <property name="iface" value="com.ymm.trade.order.api.facade.OrderQueryFacade"/>
        <property name="serialize" value="hessian"/>
        <property name="callMethod" value="sync"/>
        <property name="timeout" value="2000"/>
    </bean>

    <bean id="fmCompanyFreightFacade" class="com.dianping.dpsf.spring.ProxyBeanFactory" init-method="init">
        <property name="serviceName" value="http://service.ymm.com/trade/fm/companyFreightFacade_1.0.0"/>
        <property name="iface" value="com.ymm.trade.fm.api.facade.CompanyFreightFacade"/>
        <property name="serialize" value="hessian"/>
        <property name="callMethod" value="sync"/>
        <property name="timeout" value="2000"/>
    </bean>

    <bean id="balanceDetailFacade" class="com.dianping.dpsf.spring.ProxyBeanFactory" init-method="init">
        <property name="serviceName" value="http://service.ymm.com/trade/balancedetail/balanceDetailFacade_1.0.0"/>
        <property name="iface" value="com.ymm.trade.company.api.facade.BalanceDetailFacade"/>
        <property name="serialize" value="hessian"/>
        <property name="callMethod" value="sync"/>
        <property name="timeout" value="2000"/>
    </bean>

    <bean id="dataDictionaryFacade" class="com.dianping.dpsf.spring.ProxyBeanFactory" init-method="init">
        <property name="serviceName" value="http://service.yzg.com/pigeon/setting/DataDictionaryFacade_1.0.0"/>
        <property name="iface" value="com.ymm.saas.setting.api.facade.DataDictionaryFacade"/>
        <property name="serialize" value="hessian"/>
        <property name="callMethod" value="sync"/>
        <property name="timeout" value="2000"/>
    </bean>


    <bean id="transOrderFacade" class="com.dianping.dpsf.spring.ProxyBeanFactory" init-method="init">
        <property name="serviceName" value="http://service.yzg.com/pigeon/trans/transOrderFacade_1.0.0"/>
        <property name="iface" value="com.saas.tms.trans.api.facade.TransOrderFacade"/>
        <property name="serialize" value="hessian"/>
        <property name="callMethod" value="sync"/>
        <property name="timeout" value="2000"/>
    </bean>

    <bean id="transTaskFacade" class="com.dianping.dpsf.spring.ProxyBeanFactory" init-method="init">
        <property name="serviceName" value="http://service.yzg.com/pigeon/trans/transTaskFacade_1.0.0"/>
        <property name="iface" value="com.saas.tms.trans.api.facade.TransTaskFacade"/>
        <property name="serialize" value="hessian"/>
        <property name="callMethod" value="sync"/>
        <property name="timeout" value="2000"/>
    </bean>

    <bean id="processEngineRuntimeFacade" class="com.dianping.dpsf.spring.ProxyBeanFactory" init-method="init">
        <property name="serviceName" value="http://service.yzg.com/pigeon/process-engine/processEngineRuntimeFacade_1.0.0"/>
        <property name="iface" value="com.tms.saas.process.engine.api.facade.ProcessEngineRuntimeFacade"/>
        <property name="serialize" value="hessian"/>
        <property name="callMethod" value="sync"/>
        <property name="timeout" value="2000"/>
    </bean>

    <bean id="fileFacade" class="com.dianping.dpsf.spring.ProxyBeanFactory" init-method="init">
        <property name="serviceName" value="http://service.yzg.com/pigeon/setting/FileFacade_1.0.0"/>
        <property name="iface" value="com.ymm.saas.setting.api.facade.FileFacade"/>
        <property name="serialize" value="hessian"/>
        <property name="callMethod" value="sync"/>
        <property name="timeout" value="2000"/>
    </bean>

    <bean id="userMetricFacade" class="com.dianping.dpsf.spring.ProxyBeanFactory" init-method="init">
        <property name="serviceName" value="http://service.yzg.com/pigeon/setting/UserMetricFacade_1.0.0"/>
        <property name="iface" value="com.ymm.saas.setting.api.facade.UserMetricFacade"/>
        <property name="serialize" value="hessian"/>
        <property name="callMethod" value="sync"/>
        <property name="timeout" value="2000"/>
    </bean>

    <bean id="tmsOrganizationFacade" class="com.dianping.dpsf.spring.ProxyBeanFactory" init-method="init">
        <property name="serviceName" value="http://service.yzg.com/pigeon/permisson/TmsOrganizationFacade_1.0.0"/>
        <property name="iface" value="com.amh.merchant.dolphin.permission.api.facade.TmsOrganizationFacade"/>
        <property name="serialize" value="hessian"/>
        <property name="callMethod" value="sync"/>
        <property name="timeout" value="2000"/>
    </bean>

    <bean id="mybRiskOrderFacade" class="com.dianping.dpsf.spring.ProxyBeanFactory" init-method="init">
        <property name="serviceName" value="http://service.ymm.com/ymm/risk/app/mybRiskOrderFacade_1.0.0"/>
        <property name="iface" value="com.ymm.myb.risk.api.facade.MybRiskOrderFacade"/>
        <property name="serialize" value="hessian"/>
        <property name="callMethod" value="sync"/>
        <property name="timeout" value="2000"/>
    </bean>

    <bean id="invoiceService" class="com.dianping.dpsf.spring.ProxyBeanFactory" init-method="init">
        <property name="serviceName" value="http://service.ymm56.com/invoice/invoiceService_1.0.0"/>
        <property name="iface" value="com.ymm56.invoice.center.api.service.InvoiceService"/>
        <property name="serialize" value="hessian"/>
        <property name="callMethod" value="sync"/>
        <property name="timeout" value="2000"/>
    </bean>

    <bean id="tmsFlowBusinessQueryFacade" class="com.dianping.dpsf.spring.ProxyBeanFactory" init-method="init">
        <property name="serviceName" value="http://service.yzg.com/pigeon/process-engine/tmsFlowBusinessQueryFacade_1.0.0"/>
        <property name="iface" value="com.tms.saas.process.engine.api.facade.TmsFlowBusinessQueryFacade"/>
        <property name="serialize" value="hessian"/>
        <property name="callMethod" value="sync"/>
        <property name="timeout" value="2000"/>
    </bean>

    <bean id="accountDetailService" class="com.dianping.dpsf.spring.ProxyBeanFactory" init-method="init">
        <property name="serviceName" value="http://service.zf.com/paymanagement/accountDetailService_1.0.0"/>
        <property name="iface" value="com.zf.pay.management.api.service.AccountDetailService"/>
        <property name="serialize" value="hessian"/>
        <property name="callMethod" value="sync"/>
        <property name="timeout" value="2000"/>
    </bean>

    <bean id="orderPayFlowQueryFacade" class="com.dianping.dpsf.spring.ProxyBeanFactory" init-method="init">
        <property name="serviceName" value="http://service.ymm.com/trade/fee/service/orderPayFlowQueryFacade_1.0.0"/>
        <property name="iface" value="com.ymm.trade.fee.api.facade.OrderPayFlowQueryFacade"/>
        <property name="serialize" value="hessian"/>
        <property name="callMethod" value="sync"/>
        <property name="timeout" value="2000"/>
    </bean>

    <bean id="orderBillItemQueryFacade" class="com.dianping.dpsf.spring.ProxyBeanFactory" init-method="init">
        <property name="serviceName" value="http://service.ymm.com/trade/fee/service/orderBillItemQueryFacade_1.0.0"/>
        <property name="iface" value="com.ymm.trade.fee.api.facade.OrderBillItemQueryFacade"/>
        <property name="serialize" value="hessian"/>
        <property name="callMethod" value="sync"/>
        <property name="timeout" value="2000"/>
    </bean>

</beans>