<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.oyl.cics.impl.employee.EmployeeMapper">
	<resultMap id="BaseResultMap" type="com.oyl.cics.model.employee.Employee">
        <result column="id" property="id" jdbcType="BIGINT" />
        <result column="phone" property="phone" jdbcType="VARCHAR" />
        <result column="employee_name" property="employeeName" jdbcType="VARCHAR" />
        <result column="department" property="department" jdbcType="VARCHAR" />
        <result column="salary" property="salary" jdbcType="BIGINT" />
    </resultMap>

	<sql id="Base_Column_List">
        `id`, `phone`, `employee_name`, `department`, `salary`
	</sql>
  
    <select id="search" resultMap="BaseResultMap">
        select <include refid="Base_Column_List" />
        from `employee`
        <where>
            <if test="employeeNamePrefix != null and employeeNamePrefix != ''">
                AND employee_name like concat(#{employeeNamePrefix}, '%')
            </if>
            <if test="department != null and department != ''">
                AND department = #{department}
            </if>
        </where>
        order by id asc
        limit ${offset}, ${pageSize}
    </select>

    <select id="numOf" resultType="int">
        select count(1)
        from `employee`
        <where>
            <if test="employeeNamePrefix != null and employeeNamePrefix != ''">
                AND employee_name like concat(#{employeeNamePrefix}, '%')
            </if>
            <if test="department != null and department != ''">
                AND department = #{department}
            </if>
        </where>
    </select>
</mapper>