<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.oyl.cics.impl.huayandan.HuayandanOracleMapper">

    <resultMap id="BaseResultMap" type="com.oyl.cics.model.huayandan.Huayandan">
        <result column="ywrq" property="ywrq" />
        <result column="mybs" property="mybs" />
        <result column="dthydid" property="dtHydid" />
        <result column="dthydxh" property="dtHydxh" />
        <result column="ssejdw" property="ssejdw" />
        <result column="ssejdwid" property="ssejdwid" />
        <result column="sssjdw" property="sssjdw" />
        <result column="sssjdwid" property="sssjdwid" />
        <result column="hyorgname" property="hyorgname" />
        <result column="sampeldate" property="sampeldate" />
        <result column="sampleid" property="sampleid" />
        <result column="assayid" property="assayid" />
        <result column="jiancejieguoyt" property="jiancejieguoyt" />
        <result column="jiancefangshi" property="jiancefangshi" />
        <result column="jiancesbmc" property="jiancesbmc" />
        <result column="jiancesbid" property="jiancesbid" />
        <result column="meizhong" property="meizhong" />
        <result column="meizhongbm" property="meizhongbm" />
        <result column="dtassayi" property="dtAssayI" />
        <result column="dtassayt" property="dtAssayT" />
        <result column="dtduiyingml" property="dtDuiyingml" />
        <result column="dtnqgradmj" property="dtNqgradmj" />
        <result column="dtngymt" property="dtNgymt" />
        <result column="dtngymad" property="dtNgymad" />
        <result column="dtnlcfaar" property="dtNlcfaar" />
        <result column="dtngyaad" property="dtNgyaad" />
        <result column="dtnlcfad" property="dtNlcfad" />
        <result column="dtnlcfvar" property="dtNlcfvar" />
        <result column="dtngyvad" property="dtNgyvad" />
        <result column="dtnlcfvd" property="dtNlcfvd" />
        <result column="dtngyvdaf" property="dtNgyvdaf" />
        <result column="dtnlcfstar" property="dtNlcfstar" />
        <result column="dtnlcfstad" property="dtNlcfstad" />
        <result column="dtnlcfstd" property="dtNlcfstd" />
        <result column="dtnqgrdmj" property="dtNqgrdmj" />
        <result column="dtnqnetarmj" property="dtNqnetarmj" />
        <result column="dtnqnetmarkc" property="dtNqnetmarkc" />
        <result column="dtnqbadmj" property="dtNqbadmj" />
        <result column="dtnyshar" property="dtNyshar" />
        <result column="dtnyshad" property="dtNyshad" />
        <result column="dtnyshd" property="dtNyshd" />
        <result column="dtnyhdaf" property="dtNyhdaf" />
        <result column="dtkuaimanhui" property="dtKuaimanhui" />
        <result column="sjtsdanwei" property="sjtsdanwei" />
    </resultMap>

    <select id="queryRecentRecords" resultMap="BaseResultMap">
        select ywrq, mybs, dthydid, dthydxh, ssejdw, ssejdwid, sssjdw, sssjdwid, hyorgname, sampeldate, sampleid, assayid, jiancejieguoyt, jiancefangshi, jiancesbmc, jiancesbid, meizhong, meizhongbm, dtassayi, dtassayt, dtduiyingml, dtnqgradmj, dtngymt, dtngymad, dtnlcfaar, dtngyaad, dtnlcfad, dtnlcfvar, dtngyvad, dtnlcfvd, dtngyvdaf, dtnlcfstar, dtnlcfstad, dtnlcfstd, dtnqgrdmj, dtnqnetarmj, dtnqnetmarkc, dtnqbadmj, dtnyshar, dtnyshad, dtnyshd, dtnyhdaf, dtkuaimanhui, sjtsdanwei
        from CDRD_ZL_HUAYANDAN
    </select>

</mapper>