<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.oyl.cics.impl.pidaimeicaiyang.PidaimeicaiyangOracleMapper">

    <resultMap id="BaseResultMap" type="com.oyl.cics.model.pidaimeicaiyang.Pidaimeicaiyang">
        <result column="ywrq" property="ywrq" />
        <result column="mybs" property="mybs" />
        <result column="ssejdw" property="ssejdw" />
        <result column="ssejdwid" property="ssejdwid" />
        <result column="sssjdw" property="sssjdw" />
        <result column="sssjdwid" property="sssjdwid" />
        <result column="cypml" property="cypml" />
        <result column="cydysl" property="cydysl" />
        <result column="sjyxt" property="sjyxt" />
        <result column="sjtsdanwei" property="sjtsdanwei" />
        <result column="sjscfs" property="sjscfs" />
    </resultMap>

    <resultMap id="BaseResultDetailMap" type="com.oyl.cics.model.pidaimeicaiyang.PidaimeicaiyangDetail">
        <result column="mybs" property="mybs" />
<!--        <result column="dtgid" property="dtgid" />-->
        <result column="dtcydyxh" property="dtCydyxh" />
        <result column="dtcysbbm" property="dtCysbbm" />
        <result column="dtcysbmc" property="dtCysbmc" />
        <result column="dtcyfs" property="dtCyfs" />
        <result column="dtcydybm" property="dtCydybm" />
        <result column="dtcysdate" property="dtCysdate" />
        <result column="dtcystime" property="dtCystime" />
        <result column="dtcyedate" property="dtCyedate" />
        <result column="dtcyetime" property="dtCyetime" />
        <result column="dtcysbid" property="dtCysbid" />
        <result column="dtcydyml" property="dtCydyml" />
        <result column="dtcyjgsj" property="dtCyjgsj" />
        <result column="dtcjzyl" property="dtCjzyl" />
        <result column="dtyijisfsj" property="dtYijisfsj" />
        <result column="dtyijisfjg" property="dtYijisfjg" />
        <result column="dtyijisfcysj" property="dtYijisfcysj" />
        <result column="dtyijisfcs" property="dtYijisfcs" />
    </resultMap>

    <select id="queryRecentRecords" resultMap="BaseResultMap">
        select ywrq, mybs, ssejdw, ssejdwid, sssjdw, sssjdwid, cypml, cydysl, sjyxt, sjtsdanwei, sjscfs
        from CDRD_ZL_PIDAIMEICAIYANG
    </select>

    <select id="queryDetails" resultMap="BaseResultDetailMap">
        select mybs <!--dtgid-->, dtcydyxh, dtcysbbm, dtcysbmc, dtcyfs, dtcydybm, dtcysdate, dtcystime, dtcyedate, dtcyetime, dtcysbid, dtcydyml, dtcyjgsj, dtcjzyl, dtyijisfsj, dtyijisfjg, dtyijisfcysj, dtyijisfcs
        from  CDRD_ZL_PIDAIMEICAIYANG_DETAIL
        where mybs = #{arg0}
    </select>

</mapper>