<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.oyl.cics.impl.qichecheng.QichechengOracleMapper">

    <resultMap id="BaseResultMap" type="com.oyl.cics.model.qichecheng.Qichecheng">
        <result column="zmxdocno" property="zmxdocNo" />
        <result column="ssejdw" property="ssejdw" />
        <result column="ssejdwid" property="ssejdwid" />
        <result column="sssjdw" property="sssjdw" />
        <result column="sssjdwid" property="sssjdwid" />
        <result column="zsitename" property="zsitename" />
        <result column="zsitebm" property="zsitebm" />
        <result column="name1" property="name1" />
        <result column="zkunnr" property="zkunnr" />
        <result column="mykuangdianmc" property="mykuangdianmc" />
        <result column="mykuangdianbm" property="mykuangdianbm" />
        <result column="meitanlaiyuan" property="meitanlaiyuan" />
        <result column="meitanlaiyuanbm" property="meitanlaiyuanbm" />
        <result column="meizhong" property="meizhong" />
        <result column="meizhongbm" property="meizhongbm" />
        <result column="zbegini" property="zbeginI" />
        <result column="zbegint" property="zbeginT" />
        <result column="zendi" property="zendI" />
        <result column="zendt" property="zendT" />
        <result column="zmeng" property="zmeng" />
        <result column="jiliangdanwei" property="jiliangdanwei" />
        <result column="cheshu" property="cheshu" />
        <result column="zongpiaozhong" property="zongpiaozhong" />
        <result column="zongmaozhong" property="zongmaozhong" />
        <result column="zongpizhong" property="zongpizhong" />
        <result column="zongjingzhong" property="zongjingzhong" />
        <result column="koudunzongliang" property="koudunzongliang" />
        <result column="sjtsdanwei" property="sjtsdanwei" />
    </resultMap>

    <resultMap id="BaseResultDetailMap" type="com.oyl.cics.model.qichecheng.QichechengDetail">
        <result column="mxdocno" property="zmxdocNo" />
        <result column="dtsortno" property="dtSortno" />
        <result column="dtchepaihao" property="dtChepaihao" />
        <result column="dtpiaozhong" property="dtPiaozhong" />
        <result column="dtmaozhong" property="dtMaozhong" />
        <result column="dtpizhong" property="dtPizhong" />
        <result column="dtjingzhong" property="dtJingzhong" />
        <result column="dtkoudunl" property="dtKoudunl" />
        <result column="dtjzdate" property="dtJzdate" />
        <result column="dtjztime" property="dtJztime" />
        <result column="dtjqdate" property="dtJqdate" />
        <result column="dtjqtime" property="dtJqtime" />
        <result column="dtjzhmc" property="dtJzhmc" />
        <result column="dtjzhid" property="dtJzhid" />
        <result column="dtjqhmc" property="dtJqhmc" />
        <result column="dtjqhid" property="dtJqhid" />
    </resultMap>

    <select id="queryRecentRecords" resultMap="BaseResultMap">
        select zmxdocno, ssejdw, ssejdwid, sssjdw, sssjdwid, zsitename, zsitebm, name1, zkunnr, mykuangdianmc, mykuangdianbm, meitanlaiyuan, meitanlaiyuanbm, meizhong, meizhongbm, zbegini, zbegint, zendi, zendt, zmeng, jiliangdanwei, cheshu, zongpiaozhong, zongmaozhong, zongpizhong, kongjingzhong, koudunzongliang, sjtsdanwei
        from qichecheng
    </select>

    <select id="queryDetails" resultMap="BaseResultDetailMap">
        select dtsortno, dtchepaihao, dtpiaozhong, dtmaozhong, dtpizhong, dtjingzhong, dtkoudunl, dtjzdate, dtjztime, dtjqdate, dtjqtime, dtjzhmc, dtjzhid, dtjqhmc, dtjqhid
        from  qichecheng_xqsj
        where zmxdocno = #{arg0}
    </select>

</mapper>