<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.oyl.cics.impl.huayandan.HuayandanMapper">

    <resultMap id="BaseResultMap" type="com.oyl.cics.model.huayandan.Huayandan">
        <result column="id" property="id" />
        <result column="mybs" property="mybs" />
        <result column="dtHydid" property="dtHydid" />
        <result column="dtHydxh" property="dtHydxh" />
        <result column="ssejdw" property="ssejdw" />
        <result column="ssejdwid" property="ssejdwid" />
        <result column="sssjdw" property="sssjdw" />
        <result column="sssjdwid" property="sssjdwid" />
        <result column="hyorgname" property="hyorgname" />
        <result column="sampeldate" property="sampeldate" />
        <result column="sampleid" property="sampleid" />
        <result column="assayid" property="assayid" />
        <result column="jiancejieguoyt" property="jiancejieguoyt" />
        <result column="jiancefangshi" property="jiancefangshi" />
        <result column="jiancesbmc" property="jiancesbmc" />
        <result column="jiancesbid" property="jiancesbid" />
        <result column="meizhong" property="meizhong" />
        <result column="meizhongbm" property="meizhongbm" />
        <result column="dtAssayI" property="dtAssayI" />
        <result column="dtAssayT" property="dtAssayT" />
        <result column="dtDuiyingml" property="dtDuiyingml" />
        <result column="dtNgymt" property="dtNgymt" />
        <result column="dtNgymad" property="dtNgymad" />
        <result column="dtNlcfaar" property="dtNlcfaar" />
        <result column="dtNgyaad" property="dtNgyaad" />
        <result column="dtNlcfad" property="dtNlcfad" />
        <result column="dtNlcfvar" property="dtNlcfvar" />
        <result column="dtNgyvad" property="dtNgyvad" />
        <result column="dtNlcfvd" property="dtNlcfvd" />
        <result column="dtNgyvdaf" property="dtNgyvdaf" />
        <result column="dtNlcfstar" property="dtNlcfstar" />
        <result column="dtNlcfstad" property="dtNlcfstad" />
        <result column="dtNlcfstd" property="dtNlcfstd" />
        <result column="dtNqgrdmj" property="dtNqgrdmj" />
        <result column="dtNqnetarmj" property="dtNqnetarmj" />
        <result column="dtNqnetmarkc" property="dtNqnetmarkc" />
        <result column="dtNqbadmj" property="dtNqbadmj" />
        <result column="dtNqgradmj" property="dtNqgradmj" />
        <result column="dtNqgradkc" property="dtNqgradkc" />
        <result column="dtNqgrdkc" property="dtNqgrdkc" />
        <result column="dtNqgrarmj" property="dtNqgrarmj" />
        <result column="dtBondindex" property="dtBondindex" />
        <result column="dtNhrdt" property="dtNhrdt" />
        <result column="dtNhrst" property="dtNhrst" />
        <result column="dtNhrht" property="dtNhrht" />
        <result column="dtNhrft" property="dtNhrft" />
        <result column="dtNymqcrc" property="dtNymqcrc" />
        <result column="dtNyshar" property="dtNyshar" />
        <result column="dtNyshad" property="dtNyshad" />
        <result column="dtNyshd" property="dtNyshd" />
        <result column="dtNyhdaf" property="dtNyhdaf" />
        <result column="dtNyscad" property="dtNyscad" />
        <result column="dtNyscd" property="dtNyscd" />
        <result column="dtNycdaf" property="dtNycdaf" />
        <result column="dtHgi" property="dtHgi" />
        <result column="dtNysfcad" property="dtNysfcad" />
        <result column="dtNyshfcd" property="dtNyshfcd" />
        <result column="dtKuaimanhui" property="dtKuaimanhui" />
        <result column="sjtsdanwei" property="sjtsdanwei" />
        <result column="xtscjlI" property="xtscjlI" />
        <result column="xtscjlT" property="xtscjlT" />
        <result column="byzd1" property="byzd1" />
        <result column="byzd2" property="byzd2" />
        <result column="byzd3" property="byzd3" />
        <result column="byzd4" property="byzd4" />
        <result column="byzd5" property="byzd5" />
        <result column="status" property="uploadStatus" typeHandler="com.oyl.cics.impl.shared.UploadStatusTypeHandler" />
        <result column="upload_time" property="uploadTime"/>
        <result column="operator" property="operator"/>
    </resultMap>

    <select id="search" resultMap="BaseResultMap">
        select `id`, `mybs`, `dtHydid`, `dtHydxh`, `ssejdw`, `ssejdwid`, `sssjdw`, `sssjdwid`, `hyorgname`, `sampeldate`, `sampleid`, `assayid`, `jiancejieguoyt`, `jiancefangshi`, `jiancesbmc`, `jiancesbid`, `meizhong`, `meizhongbm`, `dtAssayI`, `dtAssayT`, `dtDuiyingml`, `dtNgymt`, `dtNgymad`, `dtNlcfaar`, `dtNgyaad`, `dtNlcfad`, `dtNlcfvar`, `dtNgyvad`, `dtNlcfvd`, `dtNgyvdaf`, `dtNlcfstar`, `dtNlcfstad`, `dtNlcfstd`, `dtNqgrdmj`, `dtNqnetarmj`, `dtNqnetmarkc`, `dtNqbadmj`, `dtNqgradmj`, `dtNqgradkc`, `dtNqgrdkc`, `dtNqgrarmj`, `dtBondindex`, `dtNhrdt`, `dtNhrst`, `dtNhrht`, `dtNhrft`, `dtNymqcrc`, `dtNyshar`, `dtNyshad`, `dtNyshd`, `dtNyhdaf`, `dtNyscad`, `dtNyscd`, `dtNycdaf`, `dtHgi`, `dtNysfcad`, `dtNyshfcd`, `dtKuaimanhui`, `sjtsdanwei`, `xtscjlI`, `xtscjlT`, `byzd1`, `byzd2`, `byzd3`, `byzd4`, `byzd5`, `status`, `upload_time`, `operator`
        from   `huayandan`
        <where>
            <if test="mybs != null and mybs != ''">
                AND `mybs` like concat(#{mybs}, '%')
            </if>
        </where>
        order by `mybs` desc
        limit ${offset}, ${pageSize}
    </select>

    <select id="numOf" resultType="int">
        select count(1)
        from `huayandan`
        <where>
            <if test="mybs != null and mybs != ''">
                AND `mybs` like concat(#{mybs}, '%')
            </if>
        </where>
    </select>

    <select id="queryByKeys" resultMap="BaseResultMap">
        select `id`, `mybs`, `dtHydid`, `dtHydxh`, `ssejdw`, `ssejdwid`, `sssjdw`, `sssjdwid`, `hyorgname`, `sampeldate`, `sampleid`, `assayid`, `jiancejieguoyt`, `jiancefangshi`, `jiancesbmc`, `jiancesbid`, `meizhong`, `meizhongbm`, `dtAssayI`, `dtAssayT`, `dtDuiyingml`, `dtNgymt`, `dtNgymad`, `dtNlcfaar`, `dtNgyaad`, `dtNlcfad`, `dtNlcfvar`, `dtNgyvad`, `dtNlcfvd`, `dtNgyvdaf`, `dtNlcfstar`, `dtNlcfstad`, `dtNlcfstd`, `dtNqgrdmj`, `dtNqnetarmj`, `dtNqnetmarkc`, `dtNqbadmj`, `dtNqgradmj`, `dtNqgradkc`, `dtNqgrdkc`, `dtNqgrarmj`, `dtBondindex`, `dtNhrdt`, `dtNhrst`, `dtNhrht`, `dtNhrft`, `dtNymqcrc`, `dtNyshar`, `dtNyshad`, `dtNyshd`, `dtNyhdaf`, `dtNyscad`, `dtNyscd`, `dtNycdaf`, `dtHgi`, `dtNysfcad`, `dtNyshfcd`, `dtKuaimanhui`, `sjtsdanwei`, `xtscjlI`, `xtscjlT`, `byzd1`, `byzd2`, `byzd3`, `byzd4`, `byzd5`, `status`, `upload_time`, `operator`
        from   `huayandan`
        where `id` in
        <foreach item="id" index="index" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </select>

</mapper>