<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.oyl.cics.impl.meicaiyang.MeicaiyangMapper">

    <resultMap id="BaseResultMap" type="com.oyl.cics.model.meicaiyang.Meicaiyang">
        <result column="id" property="id" />
        <result column="mybs" property="mybs" />
        <result column="ssejdw" property="ssejdw" />
        <result column="ssejdwid" property="ssejdwid" />
        <result column="sssjdw" property="sssjdw" />
        <result column="sssjdwid" property="sssjdwid" />
        <result column="cypml" property="cypml" />
        <result column="cydysl" property="cydysl" />
        <result column="sjyxt" property="sjyxt" />
        <result column="sjtsdanwei" property="sjtsdanwei" />
        <result column="xtscjlI" property="xtscjlI" />
        <result column="xtscjlT" property="xtscjlT" />
<!--        <result column="sjscfs" property="sjscfs" />-->
        <result column="byzd1" property="byzd1" />
        <result column="byzd2" property="byzd2" />
        <result column="byzd3" property="byzd3" />
        <result column="byzd4" property="byzd4" />
        <result column="byzd5" property="byzd5" />
        <result column="byzd6" property="byzd6" />
        <result column="byzd7" property="byzd7" />
        <result column="byzd8" property="byzd8" />
        <result column="byzd9" property="byzd9" />
        <result column="byzd10" property="byzd10" />
        <result column="status" property="uploadStatus" typeHandler="com.oyl.cics.impl.shared.UploadStatusTypeHandler" />
        <result column="upload_time" property="uploadTime"/>
        <result column="operator" property="operator"/>
    </resultMap>

    <resultMap id="BaseResultDetailMap" type="com.oyl.cics.model.meicaiyang.MeicaiyangDetail">
        <result column="id" property="id"/>
        <result column="mybs" property="mybs" />
        <result column="dtCydyxh" property="dtCydyxh" />
        <result column="dtCydybm" property="dtCydybm" />
        <result column="dtCyfs" property="dtCyfs" />
        <result column="dtCyquyu" property="dtCyquyu" />
        <result column="dtCysdate" property="dtCysdate" />
        <result column="dtCystime" property="dtCystime" />
        <result column="dtCyedate" property="dtCyedate" />
        <result column="dtCyetime" property="dtCyetime" />
        <result column="dtCysbmc" property="dtCysbmc" />
        <result column="dtCysbid" property="dtCysbid" />
        <result column="dtCydyml" property="dtCydyml" />
        <result column="dtCydycs" property="dtCydycs" />
        <result column="dtCydyds" property="dtCydyds" />
        <result column="dtRengongcyzl" property="dtRengongcyzl" />
        <result column="dtCysd" property="dtCysd" />
        <result column="dtCjzyl" property="dtCjzyl" />
        <result column="dtYijisfsj" property="dtYijisfsj" />
        <result column="dtYijisfjg" property="dtYijisfjg" />
        <result column="dtYijisfcysj" property="dtYijisfcysj" />
        <result column="dtYijisfcs" property="dtYijisfcs" />
        <result column="dtErjisfsj" property="dtErjisfsj" />
        <result column="dtErjisfjg" property="dtErjisfjg" />
        <result column="dtErjisfcysj" property="dtErjisfcysj" />
        <result column="dtErjisfcs" property="dtErjisfcs" />
        <result column="dtCyzl" property="dtCyzl" />
        <result column="dtLytonshu" property="dtLytonshu" />
        <result column="dtLyzl" property="dtLyzl" />
        <result column="dtCydyreserve1" property="dtCydyreserve1" />
        <result column="dtCydyreserve2" property="dtCydyreserve2" />
        <result column="dtCydyreserve3" property="dtCydyreserve3" />
        <result column="dtCydyreserve4" property="dtCydyreserve4" />
        <result column="dtCydyreserve5" property="dtCydyreserve5" />
    </resultMap>

    <select id="search" resultMap="BaseResultMap">
        select `id`, `mybs`, `ssejdw`, `ssejdwid`, `sssjdw`, `sssjdwid`, `cypml`, `cydysl`, `sjyxt`, `sjtsdanwei`, `xtscjlI`, `xtscjlT`, <!--`sjscfs`,--> `byzd1`, `byzd2`, `byzd3`, `byzd4`, `byzd5`, `byzd6`, `byzd7`, `byzd8`, `byzd9`, `byzd10`, `status`, `upload_time`, `operator`
        from   `meicaiyang`
        <where>
            <if test="mybs != null and mybs != ''">
                AND `mybs` like concat(#{mybs}, '%')
            </if>
        </where>
        order by `mybs` desc
        limit ${offset}, ${pageSize}
    </select>

    <select id="numOf" resultType="int">
        select count(1)
        from `meicaiyang`
        <where>
            <if test="mybs != null and mybs != ''">
                AND `mybs` like concat(#{mybs}, '%')
            </if>
        </where>
    </select>

    <select id="queryDetails" resultMap="BaseResultDetailMap">
        select `id`, `mybs`, `dtCydyxh`, `dtCydybm`, `dtCyfs`, `dtCyquyu`, `dtCysdate`, `dtCystime`, `dtCyedate`, `dtCyetime`, `dtCysbmc`, `dtCysbid`, `dtCydyml`, `dtCydycs`, `dtCydyds`, `dtRengongcyzl`, `dtCysd`, `dtCjzyl`, `dtYijisfsj`, `dtYijisfjg`, `dtYijisfcysj`, `dtYijisfcs`, `dtErjisfsj`, `dtErjisfjg`, `dtErjisfcysj`, `dtErjisfcs`, `dtCyzl`, `dtLytonshu`, `dtLyzl`, `dtCydyreserve1`, `dtCydyreserve2`, `dtCydyreserve3`, `dtCydyreserve4`, `dtCydyreserve5`
        from  `meicaiyang_detail`
        where `mybs` = #{arg0}
    </select>

    <select id="queryByKeys" resultMap="BaseResultMap">
        select `id`, `mybs`, `ssejdw`, `ssejdwid`, `sssjdw`, `sssjdwid`, `cypml`, `cydysl`, `sjyxt`, `sjtsdanwei`, `xtscjlI`, `xtscjlT`, <!--`sjscfs`,--> `byzd1`, `byzd2`, `byzd3`, `byzd4`, `byzd5`, `byzd6`, `byzd7`, `byzd8`, `byzd9`, `byzd10`, `status`, `upload_time`, `operator`
        from   `meicaiyang`
        where `id` in
        <foreach item="id" index="index" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </select>

    <update id="uploadSucc">
        update `meicaiyang` set
        `status` = 1,
        `upload_time` = now(),
        `operator` = #{param2}
        where `id` in
        <foreach item="item" index="index" collection="param1" open="(" separator="," close=")">
            #{item.id}
        </foreach>
    </update>

    <update id="uploadFailed">
        update `meicaiyang` set
        `status` = 2,
        `upload_time` = now(),
        `operator` = #{param2}
        where `id` in
        <foreach item="item" index="index" collection="param1" open="(" separator="," close=")">
            #{item.id}
        </foreach>
    </update>

    <delete id="removeDetails">
        delete from  `meicaiyang_detail`
        where `mybs` = #{arg0}
    </delete>

    <insert id="addDetail">
        insert into `meicaiyang_detail` (`mybs`, `dtCydyxh`, `dtCydybm`, `dtCyfs`, `dtCysdate`, `dtCystime`, `dtCyedate`, `dtCyetime`, `dtCysbmc`, `dtCysbid`, `dtCydyml`, `dtCydycs`, `dtCydyds`, `dtCysd`)
        values (
        #{mybs},
        #{dtCydyxh},
        #{dtCydybm},
        #{dtCyfs},
        #{dtCysdate},
        #{dtCystime},
        #{dtCyedate},
        #{dtCyetime},
        #{dtCysbmc},
        #{dtCysbid},
        #{dtCydyml},
        #{dtCydycs},
        #{dtCydyds},
        #{dtCysd}
        )
    </insert>

    <insert id="override">
        insert into `meicaiyang` (
        `mybs`,
        `ssejdw`,
        `ssejdwid`,
        `sssjdw`,
        `sssjdwid`,
        `cypml`,
        `cydysl`,
        `sjyxt`,
        `sjtsdanwei`,
        `status`
        ) values (
        #{mybs},
        #{ssejdw},
        #{ssejdwid},
        #{sssjdw},
        #{sssjdwid},
        #{cypml},
        #{cydysl},
        #{sjyxt},
        #{sjtsdanwei},
        0
        ) ON DUPLICATE KEY UPDATE
        `mybs` = #{mybs},
        `ssejdw` = #{ssejdw},
        `ssejdwid` = #{ssejdwid},
        `sssjdw` = #{sssjdw},
        `sssjdwid` = #{sssjdwid},
        `cypml` = #{cypml},
        `cydysl` = #{cydysl},
        `sjyxt` = #{sjyxt},
        `sjtsdanwei` = #{sjtsdanwei}
    </insert>

</mapper>