<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.oyl.cics.impl.setting.SettingMapper">

    <select id="query" resultType="java.lang.String">
        select `value`
        from `setting`
        where `group` = #{param1}
        and `key` = #{param2}
        limit 1
    </select>

    <update id="set">
        update `setting` set
        `value` = #{param3}
        where `group` = #{param1} and `key` = #{param2}
    </update>

</mapper>