<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.oyl.cics.impl.user.UserMapper">
	<resultMap id="BaseResultMap" type="com.oyl.cics.model.user.User">
        <result column="id" property="id" jdbcType="BIGINT" />
        <result column="username" property="username" jdbcType="VARCHAR" />
        <result column="password" property="password" jdbcType="VARCHAR" />
    </resultMap>

	<sql id="Base_Column_List">
        `id`, `username`, `password`
	</sql>

    <select id="search" resultMap="BaseResultMap">
        select <include refid="Base_Column_List" />
        from `user_profile`
        <where>
            <if test="usernamePrefix != null and usernamePrefix != ''">
                and `username` like concat(#{usernamePrefix}, '%')
            </if>
        </where>
        order by id asc
        limit ${offset}, ${pageSize}
    </select>

    <select id="numOf" resultType="int">
        select count(1)
        from `user_profile`
        <where>
            <if test="usernamePrefix != null and usernamePrefix != ''">
                and `username` like concat(#{usernamePrefix}, '%')
            </if>
        </where>
    </select>
  
    <select id="queryByUsername" resultMap="BaseResultMap">
        select <include refid="Base_Column_List" />
        from `user_profile`
        where `username` = #{arg0}
        limit 1
    </select>

    <insert id="create" useGeneratedKeys="true" keyColumn="id" keyProperty="id">
        insert into `user_profile`(
        `username`,
        `password`
        )
        values (
            #{username},
            #{password}
        )
    </insert>
</mapper>